<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunlight Tea About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/aboutUs.css">
</head>

<body>

    <div class="header">
        <a href="../templates/main.html"> <strong><h1>Sunlight Tea</h1></strong>For Your Mornings</a>
    </div>

    <nav class="navbar">
        <ul>
            <li onclick="home()">Home</li>
            <li onclick="contactUs()">Contact Us</li>
            <li onclick="signIn()">Sign In</li>
        </ul>
    </nav>

    <div class=" top1 ">
        <h1>About Us</h1>
    </div>

    <div class="top ">
        <img src="../image/5.jpg " class="image " alt="Tea Cup ">
        <br/>
        <div class="padding ">
            <h4><b>With Sunlight Tea, it’s all about intensifying your tea experience</b></h4>
            <h6><em>5 years of history</em></h6>
            <br/>
            <p>
                Imagine living in a world where a better source of tea, with fresher products, and easier shopping was available. That’s what our aim is at sunlight tea. Our loose leaf teas comes straight from local farmers in a variety of blends and brew methods. By
                sourcing directly, we’re able to share these exquisite teas with minimal markup.Each cup contains the promise of a new journey, full of wonder and peace. So if you’re looking for higher-quality loose tea, Sunlight Tea is where you should
                start.
            </p>
        </div>
        <br/>
    </div>
    <div class="map">
        <h1>Contact our Team*</h1>
        <h3>Hours </h3>
        <ul>
            <li><strong>Monday</strong> 8:30am - 5:00pm</li>
            <li><strong>Tuesday </strong>8:30am - 5:00pm </li>
            <li><strong>Wednesday</strong> 8:30am - 5:00pm </li>
            <li><strong>Thursday</strong> 8:30am - 5:00pm </li>
            <li><strong>Friday</strong> 9:30am - 4:00pm </li>
            <li><strong>Saturday</strong> 9:30am - 4:00pm </li>
            <li><strong>Sunday</strong> Closed</li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11693.491515599126!2d-78.8848760843083!3d42.88607900997897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d3125149db9495%3A0x2f1f6429e42a1362!2sAllentown%2C%20Buffalo%2C%20NY!5e0!3m2!1sen!2sus!4v1595878015075!5m2!1sen!2sus"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <script src="../scripts/aboutUs.js "></script>
</body>

</html>