<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunlight Tea</title>

    <script src="https://use.fontawesome.com/d8d785908a.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/blog.css">
</head>
<header>
    <div class="header">
        <a href="../templates/main.html"> <strong><h1>Sunlight Tea</h1></strong>For Your Mornings</a>
    </div>
</header>

<body class="default page-default">
    <nav>
        <div class="nav-top">

            <div class="nav-top-items">
                <li><a href="#">Cart(0)</a></li>
                <li onclick="createAcc()">Account</li>
                <li onclick="help()">Help</i>
            </div>
            <form action="#">
                <input type="search" class="search-data" placeholder="Search" required>
                <button type="submit" class="fas fa-search"></button>
            </form>

        </div>

        <div class="navbar">
            <div class="navbar-nav">
                <ul>
                    <li onclick="home()">Home</li>
                    <li><a href="/templates/aboutUs.html">About Us</a></li>
                    <li class="dropdown">
                        <a href="#">Sale <i class="fa fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="#">Tea</a></li>
                            <li><a href="#">Tea Ware</a></li>
                            <li><a href="#">View All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Tea <i class="fa fa-angle-down"></i> </a>
                        <ul class="sub-menu">
                            <li><a href="#">Iced Tea</a></li>
                            <li><a href="#">Tea Flavor</a></li>
                            <li><a href="#">TEA Bags</a></li>
                            <li><a href="#">Tea Type</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li onclick="signIn()">Sign In</li>
                </ul>
            </div>
        </div>
    </nav>


    <main>

        <div class="middle">
            <div class="blog ">
                <h2><strong>   --------   Tea Blog   --------</strong></h2>
            </div>
            <ul class="blog-img ">
                <li>
                    <a href="# "><img src="../image/education.jpg "></a><br/>
                    <div class="blog-p">
                        <h3>EDUCATION</h3>
                        <p>The Fundamentals of Tea:</br>The essential knowledge you need to understand this magical drink.</p>
                    </div>
                </li>
            </ul>
            <div class="paragraf">
                <p><strong><em>WHAT IS TEA?</em></strong> All tea comes from one flowering evergreen shrub, Camellia Sinensis regardless of where it is grown. The variations in tea are caused by differing conditions in the tea-growing countries - where it
                    is grown, when and how it is plucked - and what is done to the leaf after it is plucked. Two plant strains are found - Assam and China.<br/><strong><em>WHERE IS IT PRODUCED?</em></strong> Tea is produced commercially in tropical and
                    subtropical regions of the world. India, Sri Lanka, China, Japan, Taiwan and Indonesia are some large tea-producing countries. Other countries also produce tea - Argentina, Kenya, Malawi, Rwanda, Turkey, among others. Typically, hot
                    temperatures and heavy rainfall
                    <br/><strong><em>CAFFEINE</em></strong> Caffeine content in tea is widely debated. The broad agreement seems to be that a cup of tea has about half the caffeine content as that of a cup of coffee. Black tea is reported to have more
                    caffeine than green while herbals have none. Indisputable evidence on this is difficult to obtain with varying numbers provided by several sources. Testing has revealed that there can be significant variances within teas from the same
                    category, for example, two green teas.
                    <br/><strong><em>BENEFITS</em></strong> The health benefits of tea are everywhere in the media today. There is evidence that it prevents cancer and strokes, strengthens the cardio-vascular system, aids digestion, reduces tooth decay,
                    enhances the immune system, purifies blood, assists liver and may reduce bacterial infections and food poisoning. are key to growing tea.
                </p>
            </div>
        </div>

        <div class="middle">
            <ul class="blog-img ">
                <li>
                    <a href="# "><img src="../image/tea news.jpg"></a><br/>
                    <div class="blog-p">
                        <h3>TEA NEWS</h3>
                        <p>Tea leaf extract is the new answer to </br>destroy lung cancer cells</p>
                    </div>
                </li>
            </ul>
            <div class="paragraf">
                <p><strong><em>Tea leaf extract is the new answer to destroy lung cancer cells.</em>LONDON:</strong> Nanoparticles derived from tea leaves can inhibit the growth of lung cancer cells, destroying up to 80 per cent of them, a team of Indian
                    and British scientists has found. The study, published in the journal Applied Nano Materials, outlines a new method of producing a type of nanoparticle called quantum dots. "Our research confirmed previous evidence that tea leaf extract
                    can be a non-toxic alternative to making quantum dots using chemicals," said Sudhagar Pitchaimuthu from Swansea University in the UK, who led the study. "The real surprise, however, was that the dots actively inhibited the growth of
                    the lung cancer cells. We had not been expecting this," Pitchaimuthu said. Quantum dots can be made chemically, but this is complicated and expensive and has toxic side effects.
                </p>
            </div>

        </div>

    </main>

    <footer>
        <div class="main-content ">

            <div class="left box ">
                <h2>
                    About us</h2>
                <div class="content ">
                    <p>
                        <em>With Sunlight Tea, it’s all about intensifying your tea experience.</em>
                    </p>
                    <div class="social ">
                        <a href="# "><span class="fab fa-facebook-f "></span></a>
                        <a href="# "><span class="fab fa-twitter "></span></a>
                        <a href="# "><span class="fab fa-instagram "></span></a>
                        <a href="# "><span class="fab fa-youtube "></span></a>
                    </div>
                </div>
            </div>

            <div class="center box ">
                <h2>
                    Address</h2>
                <div class="content ">
                    <div class="place ">
                        <span class="fas fa-map-marker-alt "></span>
                        <span class="text ">Buffalo</span>
                    </div>
                    <div class="phone ">
                        <span class="fas fa-phone-alt "></span>
                        <span class="text ">(716)6099769</span>
                    </div>
                    <div class="email ">
                        <span class="fas fa-envelope "></span>
                        <span class="text ">h2zhena7@yahoo.com</span>
                    </div>
                </div>
            </div>

            <div class="right box ">
                <h2>Contact us</h2>
                <div class="content ">
                    <form action="# ">
                        <div class="email ">
                            <div class="text ">
                                Email *
                            </div>
                            <input type="email " required>
                        </div>
                        <dr/>
                        <div class="btn ">
                            <button type="submit "><a href="/templates/contact.html ">Send</a></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </footer>

    <script src="../scripts/main.js "></script>
</body>

</html>