@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    text-decoration: none;
}

.header {
    box-shadow: 10px 5px 10px 5px rgb(175, 155, 40);
    border-radius: 45px;
    font-family: 'Great Vibes', cursive;
    font-size: 18px;
    text-align: center;
}

.header a {
    color: rgb(102, 17, 17);
    text-decoration: none;
}

.header a:hover {
    color: #ffd82cec;
}


/* body */

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}


/* nav top */

.nav-top {
    outline: none;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 31.5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

nav .nav-top-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-top-items li {
    font-size: 1.2rem;
    list-style: none;
    padding: 0 15px;
    color: rgb(102, 17, 17);
}

nav .nav-top-items li a {
    font-size: 1.1rem;
    color: rgb(102, 17, 17);
    /* font-weight: 500; */
    text-decoration: none;
}

nav .nav-top-items li a:hover {
    color: #ffd82cec;
}

nav .nav-top-items li:hover {
    color: #ffd82cec
}


/* search  */

nav form {
    display: flex;
    height: 30px;
    background: #fff;
    min-width: 10%;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    color: rgb(78, 2, 2);
    font-size: 15px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding-left: 7.5px;
    color: #fff;
    font-size: 15px;
    background: rgb(102, 17, 17);
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

nav form button:hover {
    background: #e63600;
}


/*  navbar */

.navbar {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgb(182, 155, 4);
    border-top: rgb(102, 17, 17) solid 1px;
}

.navbar .navbar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .navbar-nav ul>li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 1.17rem;
}

.navbar .navbar-nav ul>li:hover {
    color: #ffd82cec;
}

.navbar .navbar-nav ul>li:last-child {
    margin-right: 0;
}

.navbar .navbar-nav ul>li>a {
    padding: 17px 0;
    display: block;
    color: #ffffff;
    font-size: 1.15rem;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.navbar .navbar-nav ul>li>a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    width: 0%;
    background-color: #ffc226;
    transition: width 0.3s ease;
}

.navbar .navbar-nav ul>li>a:hover::before {
    width: 100%;
}

.navbar .navbar-nav ul>li>a:hover {
    color: #ffc226;
}

.navbar .navbar-nav ul>li>.sub-menu {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 220px;
    top: 100%;
    left: 0;
    border-top: 3px solid #ffc226;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.navbar .navbar-nav ul>li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

.navbar .navbar-nav ul>li>.sub-menu>li {
    display: block;
    margin: 0;
}

.navbar .navbar-nav ul>li>.sub-menu>li>a::before {
    content: none;
}

.navbar .navbar-nav ul>li>.sub-menu>li>a {
    color: #444;
    transition: all 0.3s ease;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0;
}

.navbar .navbar-nav ul>li>.sub-menu>li>a:hover {
    background-color: #ffc226;
    color: #ffffff;
}


/* blog */

.blog {
    color: rgb(175, 155, 40);
    font-family: 'Great Vibes', cursive;
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
}

.blog:hover {
    color: rgb(0, 109, 100);
    text-decoration: none;
}


/* middle */

.middle {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: rgb(248, 248, 241);
    box-shadow: 0px 5px 5px 0px rgb(141, 210, 212);
    text-align: center;
}

.middle ul {
    list-style: none;
    padding: 0px 20px;
    text-align: center;
}

.middle .blog-img li {
    border-bottom: solid 1px rgb(101, 148, 13);
    display: inline-block;
    background-color: rgb(124, 0, 0);
}

.middle .blog-img a img {
    height: 400px;
    width: 460px;
}

.middle .blog-img li a {
    text-decoration: none;
    color: rgb(134, 0, 0);
}

.middle .blog-p {
    color: #ffffff;
}

.middle .paragraf {
    text-align: justify;
    max-width: 70%;
    display: inline-block;
}


/* footer */

footer {
    bottom: 0px;
    width: 100%;
    background: rgb(245, 240, 240);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 23%;
    background: rgb(133, 0, 0);
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: rgb(224, 213, 213);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: rgb(133, 0, 0);
}

.left .content .social a span:hover {
    background: #f12020;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: rgb(224, 213, 213);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color: rgb(133, 0, 0);
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: rgb(206, 197, 197);
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form .msgForm {
    border: none;
    width: 96.5%;
    font-size: 1.0625rem;
    background: rgb(247, 252, 251);
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form .msgForm:focus {
    outline-color: #0a2536;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    background: rgb(224, 213, 213);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: #f12020;
}

.right form .btn button a {
    color: rgb(133, 0, 0);
    font-weight: 700;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}

@media screen and (max-width: 900px) {
    nav form {
        flex-wrap: wrap;
        flex-direction: column;
        visibility: hidden;
    }
    .navbar {
        display: list-item;
        justify-content: center;
    }
}